name: {{name}}
version: {{version}}
distinfo-subscription-url: {{base-url}}/{{name}}.txt
release-index-url: {{base-url}}/{{name}}/{{version}}/releases.txt
system-index-url: {{base-url}}/{{name}}/{{version}}/systems.txt
